script.js
Require.js
main.js
http.js
import.js
app.js
*.env
controllers/controllers.js
middleware/authorization.js
models/schema.js
routes/userRoutes.js
src
src/Controllers
uploads
src/db
src/middleware
src/models
src/Routes
src/utils
src/.prettierrc
src/.prettierrcignore
node_modules
.vscode